.dashboard-content {
  flex: 1;

  background-color: #f8f8f8;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.dashboard-content-wrapper {
  margin-top: 110px;
}



.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
