.no-padding {
    padding: 0 !important;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: all 0.4s ease;
    visibility: hidden;
    z-index: 999;
}
.overlay.show {
    visibility: visible;
    opacity: 0.5;
}