#toggle-menu {
  display: none;
  margin: 0px 20px 0px 20px;
}
#toggle-menu i {
  font-size: 20px;
}

.dashboard-top-menu {
 
  position: fixed;
  z-index: 99;
  width: calc(100% - 260px);
  top: 0;
  height: 103px;
  padding: 20px 30px 0px 30px;
}
.custom-navtop {
  background-color: #fff;
  /* height: 80px; */
  padding: 11px 14px;
  border-radius: 7px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
}
.button-profile .image-profile img {
  border-radius: 100%;
}
.button-profile .text-profile p {
  padding: 0px 20px 0px 10px;
  font-size: 13px;
}
.notice i {
  font-size: 24px;
}
.badge-custom {
  position: absolute;
  background-color: #e33d55;
  color: #fff;
  border-radius: 100%;
  font-size: 11px;
  text-align: center;
  top: -7px;
  right: 13px;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 1024px) {
  #toggle-menu {
    display: block;
  }
  .dashboard-top-menu {
    width: 100%;
  }
}
