.list-code-wrapper {
  margin: 0px 30px;
}
.list-code-content {
  padding: 20px;
}

.table-custom thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.table-custom thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.table-custom thead tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
}
.table-custom thead tr:last-child th:last-child {
  border-bottom-right-radius: 10px;
}
.table-custom thead tr th {
  font-size: 12px;
  font-weight: 600;
  color: #626262;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
}

.list-code-option-bar-wrapper {
  padding: 0px 40px;
}

.search-option {
  position: relative;
}
.search-option i {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 12px;
  color: #b5b8c2;
}
.input-search {
  border: 1px #d5d7e0 solid;
  border-radius: 20px;
  padding: 8.5px 40px 8.5px 20px;
  width: 220px;
  transition: all 0.4s ease;
  background-color: #fff;
}
.input-search:focus {
  width: 250px;
  border: 1px #d5d7e0 solid !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
}
.input-search::-webkit-input-placeholder {
  font-size: 14px;
  color: #4e525e;
}
.action-wrapper .edit-btn a {
  background-color: #7367f0;
  padding: 10px 20px 10px 20px;
  color: #fff;
  border-radius: 6px;
}
.action-wrapper .edit-btn a:hover {
  box-shadow: 0 8px 25px -8px #7367f0;
}

.action-wrapper .delete-btn button {
  background-color: #ea5455;
  color: #fff;
  border-radius: 6px;
}
.action-wrapper .delete-btn button:hover {
  box-shadow: 0 8px 25px -8px #ea5455;
}

.breadcrumb-header h2 {
  color: #636363;
  padding-right: 20px;
  font-size: 25px;
}
.breadcrumb-header {
  border-right: 1px solid rgb(218, 225, 231);
}
.breadcrumb {
  background-color: inherit;
  /* padding: 0;
  margin: 0; */
  margin-bottom: 0;
}
.breadcrumb-item a {
  color: rgb(115, 103, 240);
}
.breadcrumb-item a i {
  font-size: 17px;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  color: #626262;
  font-size: 12px;
  font-weight: 900;
}
.btn-add-code a {
  background-color: inherit;
  border: 1px solid #7367f0;
  padding: 12px 15px 12px 15px;
  border-radius: 7px;
  color: #7367f0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.btn-add-code:hover a {
  background-color: #7367f0;
  color: #fff;
}
